.section{
  margin-top: 600px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
   
}
h2{
  text-align: center; 
  color:#F23005 !important;
  margin-bottom: 50px;
 
}

.Howredacao{
  font-weight: normal;
  max-width: 830px;
  justify-content: center;    
  margin: 23px 250px; 
  text-indent: 2em;
  text-align: justify;
  line-height: 23px;
}

.competencia{
  font-weight: bold;
  font-family: 'Roboto',sans-serif;
  text-align: left;
  color: peru;
}

p {  
  font-family: 'Roboto',sans-serif;
  font-weight: lighter !important;
  
}
@media(max-width: 768px){
  .Howredacao{
    margin:0;
  }
  
}