.cards{
  display: grid;
  width: 100%;
  height: 970px;
}

.maindiv{
  margin-bottom: 10px;
  width: 300px;
  height: 250px;
  display: grid;
  grid-template-columns:repeat(3, 2fr);
}

.maindiv-2{
  border: 1px solid black;
  margin: 150px 70px ;
  margin-bottom: 0;
  border-radius: 15px;
  background:#CD853F;
  width: 300px;
  height: 400px;
  align-self: center;
}

.maindiv p {
  color: #fff;
  text-align: center;
  position: relative;
  top: 15% !important;
}

.btn-ler{
  position: relative;

  left:30%;
  bottom: -200px;
  
  margin: 12px;
  border: none;
  border-radius: 15px;
  background-color: lavenderblush;
}

/* .ler{
  width: 300px;
  height: 400px;
 display:none;
 
} */
